@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebebeb;
}

img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#menu_icon {
    font-size: 2rem;
    color: #fff;
    display: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    background-color: #ac2020;
    color: #fff;
    padding: 0.6em 1em;
    box-shadow: 0 10px 50px 0 rgba(2, 0, 31, 0.3);
    z-index: 1;
    position: relative;
}

.heading-container {
    flex: 1;
}

.heading-container h4 {
    font-size: 1.6rem;
    letter-spacing: 3px;
}

.navbar {
    display: flex;
    gap: 1em;
    flex: 1;
    justify-content: flex-end;
}

.option {
    background-color:#ac2020;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    text-transform: capitalize;
    color: #fff;
}
.option:hover{
    background-color: rgba(194, 109, 109, 0.397);
}

.option.active {
    background-color: #ebebeb;
    color:#242424;
}

.container {
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.news-card {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    box-shadow: 0 0 15px rgba(85, 85, 85, 0.2);
    margin: 1em 0;
    border-radius: 15px;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    font-size: 15px;
}

.news-title {
    font-weight: 500;
    color: #242424;
}

.news-description {
    color: #525252;
    text-align: justify;
    margin: 0.8em 0 1em 0;
}

.view-button {
    position: relative;
    text-decoration: none;
    background-color: #ac2020;
    color: #fff;
    text-align: center;
    width: 7em;
    padding: 0.3em 0.2em;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    #menu_icon {
        display: block;
    }

    .navbar {        
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        display: none;
        flex-direction: column;
        gap: 1em;
        background-color: #ac2020;
    }
    .navbar.active {
        display: flex;
    }
    .navbar .option {
        display: block;
        font-size: 0.9rem;
        color: #fff;
        background-color: #ac2020;
        padding: 1em;
        border-radius: 0;
        margin: 0;
    }

    .container {
        grid-template-columns: 1fr;
    }
}
